{% extends "base.html" %}

{% block content %}
Welkom. 

Op deze pagina kunt u de nieuwslinks uit uw WhatsApp downloaden. 
Er wordt niets opgeslagen, u download de nieuwsartikelen alleen nog zelf op uw eigen op computer. Uw inhoudelijke WhatsApp gesprekken worden niet gedownload, het gaat hier alleen om de nieuwslinks die u via WhatsApp met mensen gedeeld heeft of die mensen met u gedeeld hebben.

U kan de nieuwslinks na het downloaden zelf eerst bekijken. 
Daarna kan u de keuze maken of u deze gegevens wil doneren aan het Datadonatielab. 

Wilt u uw de gedeelde nieuwslinks van WhatsApp op uw eigen computer downloaden? 
Cool, <a href="/start/">click here</a>
{% endblock %}
