{% extends "base.html" %}

{% block content %}
<script>
    function set_progress(progress, message) {
        document.getElementById("message").innerText = message;
        var bar = document.getElementById("progress");
        bar.style.width = progress + '%';
        bar.setAttribute('aria-valuenow', progress);
        bar.innerText = progress + '%';
    }

    function status_change() {
        if (this.readyState === 4) {
            if (this.status !== 200) {
                alert("ERROR! "+this.status)
                return
            }
            var status = JSON.parse(this.response);
            console.log(status)
            self.set_progress(status["progress"], status["message"])
            var id = window.location.pathname.replace(/.*\//, "")
            if (status["status"] === "ERROR") {
                window.location.href = "/error/" + id;;
                return
            }
            if (status["status"] === "DONE") {
                window.location.href = "/download/" + id;;
                return
            }
            setTimeout(check_status, 1000)
        }
    }

    function check_status() {
        var id = window.location.pathname.replace(/.*\//, "")
        var req = new XMLHttpRequest()
        req.onreadystatechange = status_change;
        req.open("GET", "/scrape_status/"+id);
        req.send();
    }
check_status()


</script>

<p>Please be patient while we extract your messages.</p>

<div class="progress">
<div id="progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p id="message">Preparing to start scraping</p>

<p>Note: we are not storing any message content, and only extract the links for your download. None of your data is ever
stored in our database. In fact, we don't even have a database (these things are expensive!)</p>
{% endblock %}
