{% extends "base.html" %}

{% block content %}
<script>
    var res;
     function status_change() {
        res = this;
        if (this.readyState === 4) {
            if (this.status !== 200) {
                alert("ERROR! "+this.status)
                return
            }
            var status = JSON.parse(this.response);
            if (status["status"] === "READY") {
                var id = window.location.pathname.replace(/.*\//, "")
                var url = "/prepare/" + id;
                window.location.href = url;
                return
            }
            if (status["status"] === "REFRESH") {
                document.getElementById("qr").src = "data:image/png;base64, "+status["qr"];
            }
            setTimeout(check_status, 1000)
        }
    }
    function check_status() {
        var id = window.location.pathname.replace(/.*\//, "")
        var req = new XMLHttpRequest()
        req.onreadystatechange = status_change;
        req.open("GET", "/qr_status/"+id);
        req.send();
    }
check_status()


</script>
<p>Thanks for your willingness to donate!</p>

<p>Please scan the QR code below from your whatsapp mobile phone app (main screen, settings, whatsapp web, add):</p>

<img style="width:250px; height:250px" id="qr" src="data:image/png;base64, {{qr}}" />


{% endblock %}
