{% extends "base.html" %}

{% block content %}
<script>
    var res;
     function status_change() {
        res = this;
        if (this.readyState === 4) {
            if (this.status !== 200) {
                alert("ERROR! "+this.status)
                return
            }
            var status = JSON.parse(this.response);
            if (status["status"] === "READY") {
                var id = window.location.pathname.replace(/.*\//, "")
                var url = "/prepare/" + id;
                window.location.href = url;
                return
            }
            if (status["status"] === "REFRESH") {
                document.getElementById("qr").src = "data:image/png;base64, "+status["qr"];
            }
            setTimeout(check_status, 1000)
        }
    }
    function check_status() {
        var id = window.location.pathname.replace(/.*\//, "")
        var req = new XMLHttpRequest()
        req.onreadystatechange = status_change;
        req.open("GET", "/qr_status/"+id);
        req.send();
    }
check_status()


</script>
<p>Bedankt dat u uw data wil doneren.</p>

<p>Hieronder zit u een QR code. Dit is eigenlijk de moderne variant van een streepjescode.</p>
<p>Via uw telefoon kunt u deze scannen.</p>
<p>Stap 1: open WhatsApp op uw telefoon.</p>
<p>Stap 2: klik rechtsonder op instellingen.</p>
<p>Stap 3: klik op het tweede kopje in het menu, WhatsApp Web/Desktop.</p>
<p>Stap 4: scroll naar beneden en klik op Scan QR-code en klik op OK.</p>
<p>Stap 5: richt de camera op onderstaande QR-code, de download begint nu.</p>


<img style="width:250px; height:250px" id="qr" src="data:image/png;base64, {{qr}}" />


{% endblock %}
